<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="company/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="./index.js"></script>

    <title>tenk.us</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://tenk.us">
            <div class="navbar-icon"></div>
            tenk.us
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kevinsawicki/tenk/issues/new">Report Issue</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active js-tab" data-map="profit"><a href="#">Profits</a></li>
            <li role="presentation" class="js-tab" data-map="cash"><a href="#">Cash</a></li>
            <li role="presentation" class="js-tab" data-map="eps"><a href="#" >Earnings Per Share</a></li>
          </ul>

          <div class="js-map-profit">{{profit_map}}</div>
          <div class="js-map-cash hidden">{{cash_map}}</div>
          <div class="js-map-eps hidden">{{eps_map}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>State</th>
                <th>Companies</th>
                <th>Profits</th>
                <th>Cash</th>
                <th>Earnings Per Share</th>
              </tr>
            </thead>

            <tbody>
              {{#each states}}
                <tr>
                  <td>{{companies}}</td>
                  <td>{{state}}</td>
                  <td>{{humanizedProfit}}</td>
                  <td>{{humanizedCash}}</td>
                  <td>{{humanizedEarningsPerShare}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
