<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="company/styles.css">

    <title>tenk.us</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://tenk.us">
            <div class="navbar-icon"></div>
            tenk.us
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kevinsawicki/tenk/issues/new">Report Issue</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          {{cash_map}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>State</th>
                <th>Profits</th>
                <th>Cash</th>
                <th>Earnings Per Share</th>
              </tr>
            </thead>

            <tbody>
              {{#each states}}
                <tr>
                  <td>{{state}}</td>
                  <td>{{profit}}</td>
                  <td>{{cash}}</td>
                  <td>{{earningsPerShare}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
