<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="company/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="./index.js"></script>

    <title>tenk.us</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://tenk.us">
            <div class="navbar-icon"></div>
            tenk.us
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kevinsawicki/tenk/issues/new">Report Issue</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h2>Profits, Cash, and Earnings Per Share</h2>
        <p>{{companies}} companies filed a 10-K report last year with the SEC.</p>
        <p>This is a look at how that breaks down by industry and state.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10">
          <h1>Profits</h1>
        </div>

        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          {{profit_map}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-lg-10">
          <h1>Cash</h1>
        </div>

        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          {{cash_map}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-lg-10">
          <h1>Earnings Per Share</h1>
        </div>

        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          {{eps_map}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>State</th>
                <th>Companies</th>
                <th>Profits</th>
                <th>Cash</th>
                <th>Earnings Per Share</th>
              </tr>
            </thead>

            <tbody>
              {{#each states}}
                <tr>
                  <td>{{companies}}</td>
                  <td>{{state}}</td>
                  <td>{{humanizedProfit}}</td>
                  <td>{{humanizedCash}}</td>
                  <td>{{humanizedEarningsPerShare}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
