<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cutive|Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./styles.css">

    <title>{{name}}</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://tenk.us">
            <img src="../dime.png" class="navbar-icon">
            tenk.us
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kevinsawicki/tenk/issues/new">Report Issue</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="company-heading">{{name}}</h1>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <h2 class="graph-heading">Profits</h2>
          {{profit_graph}}
        </div>

        <div class="col-md-4 col-lg-4">
          <h2 class="graph-heading">Cash</h2>
          {{cash_graph}}
        </div>

        <div class="col-md-4 col-lg-4">
          <h2 class="graph-heading">Earnings Per Share</h2>
          {{eps_graph}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">{{google_map}}</div>
      </div>

      <div class="row">
        <p>
          <a href="{{htmlUrl}}">View official 10-K on sec.gov</a>
        </p>
        <p>
          <a href="{{xmlUrl}}">Download XML from sec.gov</a>
        </p>
        <p>
          <a href="./{{symbol}}.json">Download JSON</a>
        </p>
      </div>

    </div>
  </body>
</html>
